<div class="banner" style="height:300px;">

          <%= image_tag "slider/electronics-items.jpg", :class =>"img-responsive parallaximg sliderImg", :style =>"width: 100%" %>
          <!--<img src="images/slider/slider0.jpg" class="img-responsive parallaximg sliderImg" alt="img">-->

</div>
<!--/.banner style1-->